body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* font-family: 'Montserrat', sans-serif; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
  font-size: calc(15px + 6 * ((100vw - 320px) / 1880));
  color: rgb(49, 48, 48) !important;
  line-height: 26px !important;
  overflow-x: hidden !important;
}
